

.homeCon{
display: flex;
margin-top: 200px;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.homeCon h1,p{
    background: linear-gradient(to right,rgb(236, 3, 236),blue);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    font-weight:444;
    width:600px;
}

.homeCon .type{
    background: linear-gradient(to right,rgb(236, 34, 3),blue,cyan,yellow);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    font-weight:444;
}
.homeCon img{
    width:300px;
    height:300px;
    border:10px yellow solid;
    border-radius: 50%;
}


@media (max-width:810px) {
    .homeCon h1{
font-size:1.6rem!important;
width:320px;
    }
.homeCon p{
font-size:1.3rem!important;
width:320px;
}
.homeCon{
    display: flex;
    flex-direction: column;
  position: relative;
  
}

}











