
.skillCon{
    margin-top: 100px;
    
}



.bar{
    height:20px;
    border-radius:20px;
    border:3px solid greenyellow;
   width:400px;
   display: flex;
   align-items: center;

}

.skillBar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.skillBar li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}
.skillBar li img{
    width:50px;
    height:50px;
    border-radius: 20px;
}

.skillBar li>.htmlIcon,.reactIcon,.cssIcon{
    font-size: 3rem;
    font-weight:999;
}

.htmlIcon{
    background:linear-gradient(to right,red,rgb(124, 17, 17));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    
}

.cssIcon{
    background:linear-gradient(to right,rgb(25, 0, 255),rgb(22, 17, 124));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}


.reactIcon{
    background:linear-gradient(to right,rgb(0, 255, 200),rgb(17, 124, 113));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.html{
width:80%;
background:linear-gradient(to right,red,rgb(124, 17, 17));
height:15px;
animation:html 4s linear ;

}
.css{
    height:15px;
    width: 80%;
    background:linear-gradient(to right,rgb(25, 0, 255),rgb(22, 17, 124));
    animation:css 4s linear;
}
.bs{
    height:15px;
    width:80%;
    animation:bs 4s linear;
    background:linear-gradient(to right,rgb(55, 0, 255),rgb(188, 5, 239));
}
.js{
    height:15px;
    width:80%;
    animation:js 4s linear;
    background:linear-gradient(to right,rgb(255, 255, 0),rgb(251, 222, 2));
}
.react{
    height:15px;
    width:60%;
    animation:react 4s linear;
    background:linear-gradient(to right,rgb(0, 255, 200),rgb(17, 124, 113));
}

.git{
    height:15px;
    width:80%;
    background:rebeccapurple;
    animation:git 4s linear;
}

.mu{
    height:15px;
    width:60%;
    animation:mu 4s linear;
    background:linear-gradient(to right,rgb(38, 0, 255),rgb(1, 188, 188));
}

/*animation*/

@keyframes html {
    
0%{
    width:0%;
}
100%{
    width:80%;
}

}


@keyframes css {
    
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
    
    }

    
@keyframes js {
    
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
    
    }

    
@keyframes bs {
    
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
    
    }

    
@keyframes react {
    
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }
    
    }


    
@keyframes git {
    
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
    
    }


    
@keyframes mu {
    
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }
    
    }

.footerImg{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

 .node{
  color:green;

}
.sql{
   color:rgb(47, 217, 255);
  
}
 .mongoDb{
  color:greenyellow;

}
.node,.sql,.mongoDb{
    font-size: 3rem;
    font-weight: 999;
}
.gitIcon,.muIcon,.jsIcon,.bsIcon{
    font-size:3rem;
    font-weight: 888;
}
.gitIcon{
color:red
}
.muIcon{
color:blue;
}
.jsIcon{
color:yellow
}
.bsIcon{
color:rgb(242, 3, 242)
}

.comingSoon h1{
    font-weight: 999;
background:linear-gradient(to right,red,purple,green,cyan,yellow);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}




.skillImgCon{
    width:350px;
    height: 300px;
    background-color: aqua;
    
}
.skillImgCon img{
    width:350px;
    height: 300px;
    border-radius: 30px;
}
h5{
    font-weight: 888;
}
.skillImgCon h5:nth-child(1){
    color:blue;
    
}
.skillImgCon h5:nth-child(2){
color:rgb(170, 0, 255)
}

.skillImgCon h5:nth-child(3){
color:cyan
}

.carousel-indicators{
    background-color: darkblue;
    border-radius: 20px;
    width:200px;
margin-left: 80px;
}
.prev{
background-color: crimson;
border-radius: 50%;
}
.next{
background-color: blue;
border-radius: 50%;
}







@media  (max-width:810px) {

.skillCon{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   
    
}
.skillBar{
    display: flex;
    flex-direction: column;
    
}

.footerImg{
    display:flex;
    flex-direction: column;
}





}


@media (max-width:486px) {
    
.bar{
    width:320px;
    height:10px;
}
.bar div{
    height:10px;
}
}
@media (max-width:448px) {
    

.bar{
    width:290px;
}

.skillImgCon{
   margin-top: 50px;
}

.skillBar i,.icon{
    font-size:1.5rem;
}
.skillBar #icon{
    font-size:1.5rem;
}
.footerImg .comingSoon{
    width:310px;
}
}