

.aboutCon{
    margin-top: 100px;
    display: flex;

    align-items: center;
    justify-content: center;
}



.aboutCon h1{
    background:linear-gradient(to left,rgb(251, 255, 0),rgb(5, 247, 150));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
font-weight: 888;
}

.aboutCon p{
    background:linear-gradient(to left,rgb(255, 225, 0),rgb(247, 45, 5));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-weight: 888;
    width:700px;
}

strong{
    background:linear-gradient(to left,rgb(255, 0, 238),rgb(41, 5, 247));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-weight: 888;
   
}

.aboutCon h5{
    background:linear-gradient(to left,rgb(0, 255, 26),rgb(5, 247, 235));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-weight: 888;
}
.aboutCon img{
    width:300px;
    height:300px;
    margin-left:50px;
}





@media (max-width:768px) {
    
    .aboutCon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
    }
    
    @media (max-width:655px) {
        .aboutCon p{
            width:600px;
        }
    }
    
    @media (max-width:555px) {
        .aboutCon p{
            width:500px;
        }
    }
    
    @media (max-width:480px){
    .aboutCon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .aboutCon p{
            width:400px;
        }
    
    }
    
    @media (max-width:395px) {
        .aboutCon p{
            width:350px;
        }
    }
    @media (max-width:370px) {
        .aboutCon img{
            margin-left: -10px;
        }
    }
    @media (max-width:320px) {
        .aboutCon p{
            width:310px;
        }
    }